@import "clock.css";
@import "greetings.css";
@import "quotes.css";
@import "background.css";
@import "todo.css";
@import "location.css";

#body {
  background-color: cadetblue;
}

.calc-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.calc-item {
  height: 100px;
  font-size: 40px;
}

.calc-item:nth-child(13) {
  grid-column-start: 1;
  grid-column-end: 3;
}

#result {
  background-color: white;
  color: black;
  text-align: end;
  padding: 20px;
  font-size: 50px;
}

#login-form { }

.clicked {
  color: tomato;
}

.sexy-font {
  font-family: "Monaco";
}

.link {
  margin: 30px 0px;
}

.link a {
  font-size: 30px;
  text-decoration: none;
  color: blue;
}

.hidden {
  display: none;
}